<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles">
        </th:block> /*/-->
    <link th:href="@{/css/auth.css}" rel="stylesheet">
</head>

<body class="text-center">

<form class="form-signin" action="#" th:action="@{/login}" method="post" role="form">
    <div class="alert alert-danger" role="alert"
         th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null and session[SPRING_SECURITY_LAST_EXCEPTION].message != null}"
         th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}">Invalid credentials
    </div>

    <h1 class="h3 mb-3 font-weight-normal" th:text="#{ui.login.title}">Log In</h1>

    <label for="loginEmail" class="sr-only" th:text="#{ui.login.email}">Email address</label>
    <input type="email" name="email" id="loginEmail" class="form-control" th:placeholder="#{ui.login.email}"
           required autofocus>

    <label for="loginPassword" class="sr-only" th:text="#{ui.login.password}">Password</label>
    <input type="password" name="password" id="loginPassword" class="form-control"
           th:placeholder="#{ui.login.password}" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{ui.login.submit}">Sign in</button>

    <p>
        <span th:text="#{ui.login.no_login}">No login?</span>
        <a href="#" th:href="@{/registration}" th:text="#{ui.login.please_register}">Please register</a>
    </p>
</form>
</body>
</html>
