<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles">
        </th:block> /*/-->
    <link th:href="@{/css/auth.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/registration}" th:object="${registrationForm}" method="post" role="form">
    <div th:if="${#fields.hasErrors('global')}">
        <div class="alert alert-danger" role="alert" th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</div>
    </div>
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{ui.registration.title}">Registration</h1>

    <label for="registerEmail" class="sr-only" th:text="#{ui.registration.email}">Email address</label>
    <input type="email" name="email" id="registerEmail" class="form-control" th:placeholder="#{ui.registration.email}" required autofocus th:field="*{email}">
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>

    <label for="registerPassword" class="sr-only" th:text="#{ui.registration.password}">Password</label>
    <input type="password" name="password" id="registerPassword" class="form-control" th:placeholder="#{ui.registration.password}" th:field="*{password}" required>
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>

    <label for="registerPasswordRepeat" class="sr-only" th:text="#{ui.registration.password_repeat}">Repeat Password</label>
    <input type="password" name="passwordRepeat" id="registerPasswordRepeat" class="form-control" th:placeholder="#{ui.registration.password_repeat}" th:field="*{passwordRepeat}" required>
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">Name Error</div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{ui.registration.submit}">Sign in</button>
</form>
</body>
</html>
