<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" th:text="#{ui.main_title}">Trust-to-Track</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:text="#{ui.certificates.title}"
                   th:href="@{/certificates}">Certificates<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{ui.profile.title}" th:href="@{/me}">Profile</a>
            </li>
        </ul>
        <span class="navbar-text" th:text="${user.email}">Email</span>
    </div>
</nav>

<div class="container">
    <div id="flash"></div>
    <div th:if="${error != null}">
        <div class="alert alert-danger" role="alert" th:text="${error}">Input is incorrect</div>
    </div>
    <div id="ui">
        <div class="row">
            <div class="col-lg-5">
                <form id="createForm" th:action="@{/certificates}" method="post">
                    <fieldset class="form-group">
                        <legend th:text="#{ui.certificates.add.title}">Add</legend>
                        <div class="form-group">
                            <label for="certificateNumber" th:text="#{ui.certificates.add.number}">Number</label>
                            <input id="certificateNumber" class="number form-control" type="number" size="7"
                                   name="number" required="">
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input id="ruPatent1" class="form-check-input" type="radio" name="type"
                                       value="RU_PATENT"/>
                                <label class="form-check-label" for="ruPatent1"
                                       th:text="#{ui.certificates.add.type.ru_patent}">
                                    Russian Patent
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="ruTM1" class="form-check-input" type="radio" name="type"
                                       value="RU_TRADEMARK"/>
                                <label class="form-check-label" for="ruTM1"
                                       th:text="#{ui.certificates.add.type.ru_trademark}">
                                    Russian Patent
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"
                                th:text="#{ui.certificates.add.type.submit}"></button>
                    </fieldset>
                </form>
            </div>

            <div class="col-lg-1">&nbsp;</div>

            <div class="col-lg-5">
                <form id="bulkUploadForm" th:action="@{/certificates/batch}" method="post"
                      enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <legend th:text="#{ui.certificates.bulk.title}">Bulk Add</legend>
                        <div class="form-group">
                            <label for="certificateList" th:text="#{ui.certificates.bulk.file}">File with
                                numbers</label>
                            <input id="certificateList" type="file" class="form-control-file" name="file" size="45"
                                   required="">
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input id="ruPatent2" class="form-check-input" type="radio" name="type"
                                       value="RU_PATENT"/>
                                <label class="form-check-label" for="ruPatent2"
                                       th:text="#{ui.certificates.add.type.ru_patent}">
                                    Russian Patent
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="ruTM2" class="form-check-input" type="radio" name="type"
                                       value="RU_TRADEMARK"/>
                                <label class="form-check-label" for="ruTM2"
                                       th:text="#{ui.certificates.add.type.ru_trademark}">
                                    Russian Patent
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"
                                th:text="#{ui.certificates.add.type.submit}"></button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div id="certificatesList">
            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{ui.certificates.list.header.type}">Type</th>
                    <th th:text="#{ui.certificates.list.header.number}">Number</th>
                    <th th:text="#{ui.certificates.list.header.status}">Status</th>
                    <th th:text="#{ui.certificates.list.header.updated_at}">Updated At</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="certificate : ${certificates}">
                    <tr>
                        <td th:text="${certificate.type}">Type</td>
                        <td th:text="${certificate.number}">Number</td>
                        <td th:text="${certificate.status}">Status</td>
                        <td th:text="${certificate.updatedAt}">Updated at</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <nav aria-label="...">
                <ul class="pagination">
                    <th:block th:each="p : ${pages}">
                        <li th:class="${p == currentPage} ? 'page-item active' : 'page-item'">
                            <a class="page-link" th:href="@{/certificates(page = ${p})}" th:text="${p}">page</a>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </div>

    <th:block th:include="general.html :: footer"></th:block>
</div>
<th:block th:include="general.html :: footerfiles"></th:block>
<script>
    document.getElementById("createForm").onsubmit = function (event) {
        if (document.getElementById("ruPatent1").checked || document.getElementById("ruTM1").checked) {
            return true;
        }
        const flash = document.getElementById("flash");
        flash.innerText = "Please select certificate type";
        flash.className = "alert alert-danger";
        setTimeout(function () {
            flash.innerText = "";
            flash.className = "";
        }, 1000);
        return false;
    };
</script>
</body>
</html>
