<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles">
        </th:block> /*/-->
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" th:text="#{ui.main_title}">Trust-to-Track</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{ui.certificates.title}"
                   th:href="@{/certificates}">Certificates<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:text="#{ui.profile.title}" th:href="@{/me}">Profile</a>
            </li>
        </ul>
        <span class="navbar-text" th:text="${profile.email}">Email</span>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col">
            <form th:action="@{/me}" th:object="${profile}" method="post" role="form">
                <div th:if="${#fields.hasErrors('global')}">
                    <div class="alert alert-danger" role="alert" th:each="err : ${#fields.errors('global')}"
                         th:text="${err}">Input is incorrect
                    </div>
                </div>
                <h1 class="h3 mb-3 font-weight-normal" th:text="#{ui.profile.title}">Profile</h1>

                <div class="form-group">
                    <label for="email" th:text="#{ui.profile.email}">Email address</label>
                    <input type="email" name="email" id="email" class="form-control" readonly th:field="*{email}">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}"
                         th:errors="*{email}">
                        Email Error
                    </div>
                </div>

                <div class="form-group">
                    <label for="maxCertificates" th:text="#{ui.profile.number_of_certificates}">Number of
                        certificates</label>
                    <input type="number" name="maxCertificates" id="maxCertificates" class="form-control"
                           th:field="*{maxCertificates}">
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('maxCertificates')}"
                         th:errors="*{maxCertificates}">
                        Number errors
                    </div>
                </div>

                <button id="submit" class="btn btn-primary" type="submit"
                        th:text="#{ui.profile.submit}">Update
                </button>
            </form>
        </div>
        <div class="col">&nbsp;</div>
    </div>
    <th:block th:include="general.html :: footer"></th:block>
</div>
<th:block th:include="general.html :: footerfiles"></th:block>
</body>
</html>
