<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles">
        </th:block> /*/-->
    <link th:href="@{/css/profile.css}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" th:text="#{ui.main_title}">Trust-to-Track</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{ui.certificates.title}"
                   th:href="@{/certificates}">Certificates<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:text="#{ui.profile.title}" th:href="@{/me}">Profile</a>
            </li>
        </ul>
        <span class="navbar-text" th:text="${profile.email}">Email</span>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col">
            <h1 class="h3 mb-3 font-weight-normal" th:text="#{ui.profile.updated}">Profile</h1>
        </div>
        <div class="col">&nbsp;</div>
    </div>
    <th:block th:include="general.html :: footer"></th:block>
</div>
<th:block th:include="general.html :: footerfiles"></th:block>
</body>
</html>
