body {
	padding-top: 3.5rem;
}

form .left-control {
	width: 250px;
	display: block;
	float: left;
}

form .status {
	width: 50px;
}

form .type {
	width: 120px;
}

#createForm {
	padding-bottom: 50px;
}

#flash {
	margin: 0 auto;
	width: 50%;
	height: 50px;
	text-align: center;
}

#login {
	padding-top: 50px;
	width: 230px;
	margin: 0 auto;
}

#login a {
	float: right;
	font-size: 0.8em;
}

#signup {
	padding-top: 50px;
	width: 230px;
	margin: 0 auto;
}

#signup a {
	float: right;
	font-size: 0.8em;
}

#mainBanner a:hover {
	text-decoration: none;
	color: #999999;
}

#mainBanner a:focus {
	text-decoration: none;
	color: #999999;
}

#loggedAs {
	display: block;
	padding: 10px 15px;
	position: relative;
}

.notVerified td {
	color: #999999;
}
