<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="utf-8">
    <title th:text="#{ui.main_title}">Main Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
</head>
<body>
<div th:fragment="footer">
    <footer class="container">
        <hr />
        <p>&copy; ARS-Patent Switzerland AG 2018</p>
    </footer>
</div>
<div th:fragment="footerfiles">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</div>
</body>
</html>
