<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="general.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" th:text="#{ui.main_title}">Trust-to-Track</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/certificates}" th:text="#{ui.certificates.my}">Login</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="#{ui.main_title}">Trust-to-Track</h1>
            <p class="lead" th:text="#{ui.index.subtitle}">Subtitle</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 th:text="#{ui.index.watch.title}">We watch</h2>
                <p th:text="#{ui.index.watch.details}">We watch details</p>
                <p><a class="btn btn-secondary" th:text="#{ui.index.register_now}" th:href="@{/registration}" href="#" role="button">Register</a></p>
            </div>
            <div class="col-lg-4">
                <h2 th:text="#{ui.index.remind.title}">We remind</h2>
                <p th:text="#{ui.index.remind.details}">We remind details</p>
                <p><a class="btn btn-secondary" th:text="#{ui.index.register_now}" th:href="@{/registration}" href="#" role="button">Register</a></p>
            </div>
            <div class="col-lg-4">
                <h2 th:text="#{ui.index.check_it_out}">We remind</h2>
                <p th:text="#{ui.index.we_watch}">We watch</p>
                <p><a class="btn btn-secondary" th:text="#{ui.index.register_now}" th:href="@{/registration}" href="#" role="button">Register</a></p>
            </div>
        </div>
        <hr>
    </div>
</main>

<th:block th:include="general.html :: footer"></th:block>
<th:block th:include="general.html :: footerfiles"></th:block>
</body>
</html>
